extends base
block content
  div.container.mdl-grid
    article.mdl-card.mdl-cell.mdl-cell--12-col
      header.mdl-card__title
        h1.mdl-card__title-text #{content.title.replace("index", "grgit")}
      section.mdl-card__supporting-text
        !{content.body}
      section.mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-js-button.mdl-button--colored(href='https://github.com/ajoberstar/grgit/edit/master/docs/content/#{content.title}.ad') Edit Page
