extends base
block content
  div.container.mdl-grid
    for group in content.reference.groups
      div.mdl-card.mdl-cell.mdl-cell--6-col
        div.mdl-card__title
          h1.mdl-card__title-text !{group.title}
        div.mdl-card__supporting-text
          ul
            for page in group.pages
              li
                a(href='grgit-!{page}.html') #{page}
